body {
  font-family: Arial, sans-serif;
  padding: 0;
  background-color: #f0f0f5;
}

.wrapper-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: auto;
  height: 20%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #edeef610;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
  color: #231c60;
}
p {
  line-height: 1.6;
  color: #033937e1;
}
h2 {
  color: #231c60;
  margin-top: 30px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #f0f0f5;
}

.nav{
  background-color: #2f2d86;
  padding: 0.25vw 1.5vw;
}

.wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul{
  list-style: none;
  display: flex;
  justify-content: end;
  text-align: center;
  gap: 5vw;
}

.nav a{
  text-decoration: none;
  color: white;
  font-size: medium;
  padding: 1.5vh 1.5vw;
  border-radius: 8px;
}

.nav a.current{
  font-size: large;
  text-decoration: underline;
}

.nav a:hover{
  background-color: #3d3b92;
  font-size: large;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 230px);
  text-align: center;
  padding: 20px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
}

.text {
  max-width: 700px;
  margin-top: -100px;
}

.text h1 {
  font-size: 36px;
  margin-bottom: 10px;
  text-align: left;
}

.text p {
  font-size: 20px;
  text-align: left;
}

.image {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.image img {
  width: 400px;
  height: auto;
}

.footer{
  background-color: #333333;
  position: absolute;
  bottom: 0;
  width: 100vw;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1.3vw;
}

@media screen and (max-width: 750px){
  .nav a{
    font-size: small;
}
}