*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #f0f0f5;
}

.nav{
    background-color: #2f2d86;
    padding: 0.25vw 1.5vw;
  }
  
  .wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav ul{
    list-style: none;
    display: flex;
    justify-content: end;
    text-align: center;
    gap: 5vw;
  }
  
  .nav a{
    text-decoration: none;
    color: white;
    font-size: medium;
    padding: 1.5vh 1.5vw;
    border-radius: 8px;
  }
  
  .nav a.current{
    font-size: large;
    text-decoration: underline;
  }
  
  .nav a:hover{
    background-color: #3d3b92;
    font-size: large;
  }

  .footer{
    background-color: #333333;
    position: absolute;
    bottom: 0;
    width: 100vw;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1.3vw;
  }

  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 85%;
  }

  h1{
    margin-top: 15vh;
    text-align: center;
    color: #21264F;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .container{
    width: 450px;
    margin: auto;
    padding: 8px;
    border-radius: 25px;
    background-color: #649ae630;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 60vh;
  }

  .container div{
    margin: 20px;
  }

  input[type=text]{
    height: 50px;
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 20px;
    font-size: large;
  }

  input[type=email]{
    height: 50px;
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 20px;
    font-size: large;
  }

  textarea{
    height: 100px;
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 20px;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
  }

  .container button{
    position: relative;
    top: 10px;
    left: 20px;
    width: 90%;
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
    background-color: #2f2d86;
    color: white;
  }
  .container button:hover{
    background-color: #3d3b92;
    font-size: large;
  }
  
  @media screen and (max-width: 750px){
    .nav a{
      font-size: small;
  }
  .nav a.current{
    font-size: small;
  }
  }