*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #F2F7FD;
}

.nav{
    background-color: #2f2d86;
    padding: 0.25vw 1.5vw;
  }
  
  .wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav ul{
    list-style: none;
    display: flex;
    justify-content: end;
    text-align: center;
    gap: 5vw;
  }
  
  .nav a{
    text-decoration: none;
    color: white;
    font-size: medium;
    padding: 1.5vh 1.5vw;
    border-radius: 8px;
  }
  
  .nav a.current{
    font-size: large;
    /* text-decoration: underline; */
  }
  
  .nav a:hover{
    background-color: #3d3b92;
    font-size: large;
  }

  .footer{
    background-color: #333333;
    position: absolute;
    bottom: 0;
    width: 100vw;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1.3vw;
  }
 
  @media screen and (max-width: 750px){
    .nav a{
      font-size: small;
  }
  .nav a.current{
    font-size: small;
  }
  }

  #outer-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #FEFEFE;
    text-align: center;
    padding: 70px 75px 75px 75px;
    box-shadow: 0 0 10px #d7d7e2;
    border-radius: 10px;
    margin-top: 30px;
}   

#login-logo{
    width: 157px;
    height: 137px;
}

.container h1{
    font-size: 24px;
    font-weight: normal;
    margin: 10px;
}

.form-input{
    font-size: 16px;
    margin: 10px;
    padding: 5px;
    width: 20rem;
    height: 2rem;
    border-radius: 5px;
    border: 2px solid black;
    background-color: #F5F5F5;
}

#login-btn{
    font-size: 16px;
    margin: 10px;
    width: 20rem;
    height: 2rem;
    border-radius: 5px;
    border: 2px solid black;
    padding: 5px;
    background-color: #3831A1;
    color: #FFFFFF;
}

#forgot-password{
    font-size: 16px;
    margin: 10px;
    color: #3831A1;
    text-decoration: none;
}


#true{
    margin: 20px;
    padding: 10px 50px;
    background-color: #d4edda;
    border-radius: 10px;
    border: 1px solid #C3E6CB;
}

#false{
    margin-bottom: 20px;
    padding: 10px 50px;
    background-color: #f8d7da;
    border-radius: 10px;
    border: 1px solid #f5c6cb;
}

