* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: #F2F7FD;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#body {
    display: flex;
}

#header {
    height: 54px;
    background-color: #3831A1;
    z-index: 1;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

#logo-with-text {
    width: 200px;
    height: 44px;
    margin-left: 10px;
}

#admin-dashboard {
    font-size: 24px;
}

#profile {
    width: 45px;
    height: 45px;
    margin-right: 20px;
}

#side-bar {
    display: fixed;
    position: sticky;
    top: 54px;
    width: 240px;
    background-color: #21264F;
    height: calc(100vh - 54px);
    color: #FFF;
    font-size: 18px;
}

.side-bar{
    position: relative;
}

.side-bar li {
    font-size: 18px;
    list-style-type: none;
    padding: 10px 15px 15px 30px;
}

#side-bar li img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    position: relative;
    top: 3px;
}

.floating-option-for-position-relative{
    position: relative;
    top: -10px;
    left: 15px;
}

.floating-option{
    display: none;
}

.side-bar li:hover .floating-option{
    display: block;
    background-color: #21264F;
    position: absolute;
    left: 100%;
    width: max-content;
    padding: 5px;
}

.floating-option ul li {
    padding: 10px 20px;
}

.floating-option ul li:hover{
    background-color: #363F81;
}

.side-bar > ul > li:hover {
    background-color: #363F81;
}

.floating-option a {
    text-decoration: none;
    color:#FFF;
}

#content {
    flex: 1;
}

#side-bar-active {
    background-color: #363F81;
}

#profile-logout{
    display: flex;
}

#logout{
   
        background-color: white;
        padding: 8px 10px 8px 10px;
        border-radius: 8px;
        text-decoration: none;
        color: #2f2d86;
        margin: 7px 20px 7px 0;
        font-weight: bolder;

        
}

