* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #f0f0f5;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2f2d86;
    color: white;
    padding: 10px 20px;
}

.contact-info {
    display: flex;
    gap: 20px;
}

.apply-exam a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.apply-exam a:hover {
    background-color: #4a48a1;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #2f2d86;
    padding: 10px 20px; /* Adjusted padding to reduce height */
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left img {
    height: 50px; /* Adjusted height of the logo */
    margin-right: 10px;
}

.login-btn a {
    color: white;
    background-color: #2f2d86;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.login-btn a:hover {
    background-color: #3d3b92;
}

nav {
    background-color: #3d3b92;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    padding-right: 20px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #4a48a1;
    text-decoration: none;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 230px);
    text-align: center;
    padding: 20px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
}

.text {
    max-width: 700px;
    margin-top: -100px;
}

.text h1 {
    font-size: 36px;
    margin-bottom: 10px;
    text-align: left;
}

.text p {
    font-size: 20px;
    text-align: left;
}

.image {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.image img {
    width: 400px;
    height: auto;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333333;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}
