html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3831A1; /* Blue color */
    padding: 10px;
    box-sizing: border-box;
    color: white; /* Text color */
}

.logo img {
    height: 60px; /* Increased height from 50px to 60px */
}

.candidate-info {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.candidate-info img {
    height: 50px;
    margin-right: 10px;
}

.candidate-info .info {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px 20px;
    align-items: center;
    color: white; /* Text color */
}

.candidate-info .info-row {
    display: contents;
}

.info-row {
    line-height: 0.8;
}

.candidate-info .info div {
    font-size: 14px;
}

.candidate-info .info span {
    color: white; /* Text color */
}

#remaining-time {
    background-color: #ff6600; /* Orange color */
    color: white;
    padding: 2px 5px; /* Adjust padding to fit within the text */
    border-radius: 5px;
    display: inline; /* Ensure the background fits the text */
}

.main-content {
    display: flex;
    height: calc(100% - 70px); /* Adjust based on the height of the navbar */
    padding-bottom: 20px; /* Add bottom padding to create space at the bottom */
    padding-left: 20px;   /* Add left padding to create space on the left */
    box-sizing: border-box; /* Include padding in the element’s total width and height */
}

.left-section {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    border-right: 1px solid #ddd;
}

.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.question-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    overflow-y: auto;
}

.question-header h2 {
    margin: 0 0 10px;
}

.question-body p {
    margin: 0 0 10px;
}

.question-body ul {
    list-style: none;
    padding: 0;
}

.question-body li {
    margin: 10px 0;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.navigation-buttons form{
    display: inline;
}

.navigation-buttons button {
    padding: 15px 30px;
    background-color: #3831A1; /* Blue color */
    color: white;
    border: none;
    cursor: pointer;
}

.navigation-buttons button:hover {
    background-color: #2d2793; /* Darker shade of blue */
}

.status {
    margin-bottom: 20px;
}

.status-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.status-color {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.not-visited {
    background-color: #E8E8E8;
}

.not-answered {
    background-color: red;
}

.answered {
    background-color: green;
}

.marked-review {
    background-color: orange;
}

.question-nav {
    display: flex;
    flex-wrap: wrap;
}

.question-number {
    width: 40px;
    height: 40px;
    margin: 5px;
    text-align: center;
    line-height: 40px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    cursor: pointer;
}

.question-number.active {
    background-color: #3831A1; 
    color: white;
}

.question-number.answered {
    background-color: #008000;
    color: white;
}

.question-number.not_answered {
    background-color: #FF0000;
    color: white;
}

.question-number.review {
    background-color: #FFA500;
    color: white;
}

.question-number:hover {
    background-color: #2d2793;
}

button {
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #2d2793;
    color: white;
}

#space{
    margin: 30px;
}

form{
    display: inline;
}